.profile-page__checkbox {
  vertical-align: -4px;

  border: 1px solid var(--theme-light-color-grey);
  border-radius: 2px;
  display: inline-block;
  margin: 0 10px 0 0;
  width: 22px;
  height: 22px;
}

.profile-page__checkbox {
  border: 1px solid var(--theme-primary-color);
}

.profile-page__checkbox--checked::after {
  border: solid var(--theme-primary-color);
  border-width: 0 3px 3px 0;
  content: '';
  display: block;
  margin: 2px 0px 0px 6px;
  width: 5px;
  height: 10px;

  transform: rotate(45deg);
}

.profile-page__checkbox-label {
  color: var(--theme-light-color-grey);
}

.profile-page__checkbox-label--checked {
  color: inherit;
}