/* CONTAINER VARIABLES */
:root {
  --podcasterinnen-grid-gutter-size: 10px;
}

.podcasterinnen__filter {
  border: none;
  padding: 20px;
}

.podcasterinnen__filter__input {
  align-items: baseline;
  display: flex;
  margin-left: 60px;
}

.podcasterinnen__filter__legend {
  font-size: 14px;

  float: left;
}

.podcasterinnen__list {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.podcasterinnen__list__item {
  list-style: none;
  padding: 10px;
  width: 100%;
  max-width: 340px;
}

.podcasterinnen__search {
  margin: 20px auto 80px auto;
  max-width: 1100px;
}

.podcasterinnen__search__features {
  display: flex;
}

.podcasterinnen__search__label {
  margin: 20px 0 0 0;
}

.podcasterinnnen__search__result-label {
  float: right;
  margin: 6px 0;
}

/* .podcasterinnen__sort {} */

.podcasterinnen__sort__label {
  display: inline-block;
  margin: 20px 0 0 0;
}

.podcasterinnen_sort__select {
  color: var(--theme-primary-color);

  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 0 0 10px;
}

.podcasterinnen_sort__select:active,
.podcasterinnen_sort__select:hover {
  color: var(--theme-primary-color-dark);
  text-decoration: underline;
}


.podcasterinnen_sort__select:focus {
  color: var(--theme-primary-color);
  outline: none;
}