.app {
  text-align: left;
}

.app__button {
  margin: 20px 0;
}
@media screen and (min-width: 600px) {
  .app__button {
    margin: 40px 0;
  }
}

.app__cta {
  text-align: center;
}

.app__headline {
  text-align: center;
}

.app__subtitle {
  text-align: center;
}