/* GENERAL STYLES */
.footernav {
  background-color: var(--theme-primary-color-dark);
  height: var(--footernav-nav-height);
}

.footernav__icon {
  margin-right: 10px;
  vertical-align: bottom;
  width: 26px;
}

.footernav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 600px) {
  .footernav__list {
    flex-direction: row;
  }
}

/*footernav__list__element*/

.footernav__list__element__link {
  color:var(--theme-primary-color);
  text-decoration: none;

  display: inline-block;
  padding: 20px;
}

.footernav__list__element__link--active,
.footernav__list__element__link:hover {
  color: #FFFFFF;
  text-decoration: none;
}

/* .footernav__list__element__link:active, 
.footernav__list__element__link:hover, {} */

@media screen and (min-width: 600px) {
  .footernav__list__element--right {
    margin-left: auto;
  }

  .footernav__list__element--rightest {
    margin-left: 0;
  }
}