/* GENERAL STYLES */
.footernav {
  background-color: var(--theme-primary-color-dark);
  height: var(--footernav-nav-height);
}

.footernav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* .footernav__list__element {} */

.footernav__list__element__link {
  color: #FFFFFF;
  text-decoration: none;

  display: inline-block;
  padding: 20px;
}

/* .footernav__list__element__link:active, 
.footernav__list__element__link:hover, {} */
