/* VARIABLES */
:root {
  --theme-primary-color: #7797AE;
  --theme-primary-color-dark: #2C3E50;
  /* --theme-secondary-color: #A75F5F; */
  /* --theme-secondary-color: #5FA783; */
  --theme-secondary-color: #A75F83;
  --theme-secondary-color-light: #E8DDE2;
  --theme-light-color: #F6FBFF;
  --theme-light-color-grey: #B7BFC8;
  --theme-lighter-color-grey: #DDE6EF;
  --theme-color-grey: #7B828A;

  --footer-nav-height: 60px;
  --main-nav-height: 60px;
  --section-padding-top: 100px;
}

* {
  box-sizing: border-box;
}

/* GENERAL TYPOGRAPHY STYLES */

@font-face {
  font-family: "Quattrocento";
  font-weight: 400;
  src:  url("./assets/fonts/quattrocentosans-regular-webfont.woff2") format("woff2"),
        url("./assets/fonts/quattrocentosans-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Quattrocento";
  font-weight: 700;
  src:  url("./assets/fonts/quattrocentosans-bold-webfont.woff2") format("woff2"),
        url("./assets/fonts/quattrocentosans-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Playfair";
  font-weight: 700;
  src:  url("./assets/fonts/playfairdisplay-bold-webfont.woff2") format("woff2"),
        url("./assets/fonts/playfairdisplay-bold-webfont.woff") format("woff");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--theme-primary-color-dark);
  font-family: "Quattrocento", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
}
@media screen and (min-width: 600px) {
  body {
    font-size: 1.1rem;
  }
}

a {
  color: var(--theme-primary-color);
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: var(--theme-secondary-color);
  text-decoration: underline;
}

h1,
h2 {
  font-family: "Playfair";
  font-weight: 700;
}

h3,
h4,
h5,
h6 {
  font-family: "Quattrocento";
  font-weight: 700;
}

h1,
h2 {
  line-height: 1.375em;
}

h1 {
  font-size: 1.5rem;
}
@media screen and (min-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}

/* GENERAL LAYOUT STYLES */
body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 1.5em 0 40px 0;
}

.subtitle {
  color: var(--theme-primary-color);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.375em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) {
  .subtitle {
    font-size: 22px;
  }
}

.title {
  font-size: 30px;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .title {
    font-size: 56px;
  }
}
@media screen and (min-width: 800px) {
  .title {
    font-size: 70px;
  }
}

/* GENERAL FORM STYLES */
button {
  background-color: transparent;
  border: none;
  outline: none;
}

.button {
  color: #FFFFFF;
  text-transform: uppercase;

  background-color: var(--theme-primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
}

.button:active,
.button:focus,
.button:hover {
  color: #FFFFFF;
  text-decoration: none;
  
  background-color: var(--theme-primary-color-dark);
  outline: none;
}

.button--cta {
  background-color: var(--theme-secondary-color);
}

.button--decent {
  background-color: var(--theme-light-color-grey);
  border: 1px solid var(--theme-light-color-grey);
}

.button--icon {
  padding: 10px;
  width: 40px;
  height: 40px;
}

[type="submit"]:disabled,
[type="submit"][disabled] {
  color: var(--theme-color-grey);

  background-color: var(--theme-light-color-grey);
  cursor: inherit;
}

input[type="checkbox"] {
  vertical-align: 2px;
  
  margin-right: 10px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="url"],
textarea {
  background-color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid var(--theme-primary-color-dark);
  border-left: 1px solid #FFFFFF;
  display: block;
  margin: 5px 0 30px 0;
  padding: 20px 5px 10px 5px;
  width: 100%;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus {
  border: 1px solid var(--theme-primary-color-dark);
  outline: none;
}

input[type="email"].inputIsValid,
input[type="password"].inputIsValid,
input[type="text"].inputIsValid,
input[type="url"].inputIsValid,
textarea.inputIsValid {
  border-top: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid var(--theme-primary-color-dark);
  border-left: 1px solid #FFFFFF;
}

input[type="email"].inputIsInvalid,
input[type="password"].inputIsInvalid,
input[type="text"].inputIsInvalid,
input[type="url"].inputIsInvalid,
textarea.inputIsInvalid {
  border: 1px solid var(--theme-secondary-color);
}

textarea {
  line-height: 1.5;
  
  padding-bottom: 20px;
}

label {
  font-size: 14px;

  display: block;
}

/* .label {} */
.label--checkbox {
  font-size: 16px;

  display: inline-block;
}

.label--right {
  float: right;
}

/* .message-container {} */
.message-container--align-right {
  float: right;
}

/* GENERAL THEME STYLES */
body {
  background-color: var(--theme-light-color);
}

/* GENEREAL LAYOUT STYLES */
img {
  max-width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
}

.main__section {
  margin: 0 auto;
  padding: var(--section-padding-top) 20px var(--section-padding-top) 20px;
  width: 100%;
  max-width: 860px;
  min-height: calc(100vh - var(--main-nav-height));
}
@media screen and (min-width: 600px) {
  .main__section {
    padding: var(--section-padding-top) 40px var(--section-padding-top) 40px;
  }
}

.main__section--wide {
  max-width: 1100px;
}