/* VARIABLES */
:root {
  --theme-primary-color: #7797AE;
  --theme-primary-color-dark: #2C3E50;
  --theme-secondary-color: #A84E54;
  --theme-light-color: #EBEEF1;

  --footer-nav-height: 60px;
  --main-nav-height: 60px;
  --section-padding-top: 100px;
}

* {
  box-sizing: border-box;
}

/* GENERAL STYLES */
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--theme-primary-color-dark);
  font-size: 16px;
  line-height: 1.5em;

  background-color: var(--theme-light-color);
  margin: 0;
  padding: 0;
}

a {
  color: var(--theme-primary-color);
}

h1,
h2 {
  line-height: 1.375em;

  margin-top: 1.5em;
}

.main {
  display: flex;
  flex-direction: column;
}

.main__section {
  margin: 0 auto;
  padding: var(--section-padding-top) 40px var(--section-padding-top) 40px;
  max-width: 860px;
  min-height: calc(100vh - var(--main-nav-height));
}
